<div
  class="border-2 bg-white drop-shadow-[4px_4px_0_black] p-4 rounded flex flex-col gap-4 min-w-fit h-full"
>
  <div class="flex justify-between">
    <p
      [style.background]="getTheme()"
      *ngIf="stock && stock > 0"
      class="p-1 px-3 font-bold drop-shadow-[4px_4px_0_black] border-2 w-fit active:drop-shadow-none active:translate-0.5 select-none cursor-pointer hover:-translate-0.5 hover:drop-shadow-[6px_6px_0_black] transition-all active:transition-none"
    >
      {{ stock }} left
    </p>
    <p *ngIf="stock == 0" class="bg-black text-white font-bold p-1 px-3">Out of stock</p>
    <div *ngIf="stock == null"></div>
    <div *ngIf="rating != null" class="flex gap-4">
      <doodle-button
        variant="icon"
        icon="like.png"
        [selected]="isLiked"
        (click)="like()"
      ></doodle-button>
      <p class="flex items-center font-bold text-2xl">{{ rating }}</p>
      <doodle-button
        variant="icon"
        icon="dislike.png"
        [selected]="isDisliked"
        (click)="dislike()"
      ></doodle-button>
    </div>
  </div>
  <div
    [style.background]="getTheme()"
    class="w-full aspect-video drop-shadow-[4px_4px_0_black] rounded"
  ></div>
  <p *ngIf="title" class="text-3xl font-bold capitalize">{{ title }}</p>
  <p *ngIf="description" class="">{{ description }}</p>
  <div class="flex gap-4 justify-end">
    <doodle-button *ngIf="primaryButton" text="{{ primaryButton }}"></doodle-button>
    <doodle-button
      *ngIf="secondaryButton"
      text="{{ secondaryButton }}"
      variant="secondary"
    ></doodle-button>
  </div>
</div>
