<div
  class="border-2 bg-white drop-shadow-[4px_4px_0_black] p-4 rounded flex flex-col gap-4 min-w-fit"
>
  <div [style.background]="getTheme()" class="w-full aspect-video"></div>
  <p class="text-3xl font-bold capitalize">title</p>
  <p class="">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur ratione quidem impedit
    praesentium consectetur dolorum fuga minima rerum possimus.
  </p>
  <div class="flex gap-4 justify-end">
    <doodle-button text="Primary"></doodle-button>
    <doodle-button text="Secondary" variant="secondary"></doodle-button>
  </div>
</div>
