<div class="grid grid-cols-3 gap-4 p-4">
  <doodle-card
    title="title"
    description="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur ratione quidem impedit praesentium consectetur dolorum fuga minima rerum possimus."
    primaryButton="one"
    secondaryButton="two"
  ></doodle-card>
  <doodle-card
    title="title"
    description="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur ratione quidem impedit praesentium consectetur dolorum fuga minima rerum possimus."
    primaryButton="one"
    secondaryButton="two"
  ></doodle-card>
  <doodle-card
    title="title"
    description="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur ratione quidem impedit praesentium consectetur dolorum fuga minima rerum possimus."
    primaryButton="one"
    secondaryButton="two"
  ></doodle-card>
</div>
