<footer class="p-4">
  <div
    [style.background]="getTheme()"
    class="flex font-semibold justify-between items-center p-4 rounded drop-shadow-[4px_4px_0_black]"
  >
    <nav aria-label="Footer navigation font-bold">
      <ul>
        <li><a class="hover:underline cursor-pointer" routerLink="/products">Products</a></li>
        <li><a class="hover:underline cursor-pointer" routerLink="/placeholder">placeholder</a></li>
        <li><a class="hover:underline cursor-pointer" routerLink="/placeholder">placeholder</a></li>
        <li><a class="hover:underline cursor-pointer" routerLink="/placeholder">placeholder</a></li>
      </ul>
    </nav>
    <p>&copy; 4Twin5 Exam Setup 2025/2026.</p>
    <div class="flex gap-4 invert">
      <a href="https://facebook.com" aria-label="Facebook"
        ><img src="facebook.svg" width="32px" alt="Facebook"
      /></a>
      <a href="https://twitter.com" aria-label="Twitter"
        ><img src="twitter.svg" width="32px" alt="Twitter"
      /></a>
    </div>
  </div>
</footer>
