<footer class="p-4">
  <div
    [style.background]="getTheme()"
    class="bg-black text-white flex justify-between items-center p-4 rounded drop-shadow-[4px_4px_0_black]"
  >
    <nav aria-label="Footer navigation font-bold">
      <ul>
        <li><a class="hover:underline" href="">About Us</a></li>
        <li><a class="hover:underline" href="">Contact</a></li>
        <li><a class="hover:underline" href="">Privacy Policy</a></li>
        <li><a class="hover:underline" href="">Terms of Service</a></li>
      </ul>
    </nav>
    <p>&copy; 4Twin5 Exam Setup 2025/2026.</p>
    <div class="flex gap-4">
      <a href="https://facebook.com" aria-label="Facebook"
        ><img src="facebook.svg" width="32px" alt="Facebook"
      /></a>
      <a href="https://twitter.com" aria-label="Twitter"
        ><img src="twitter.svg" width="32px" alt="Twitter"
      /></a>
    </div>
  </div>
</footer>
